.block
  %h3 Administration
  %ul.navigation
    %li
      %a{:href => "/users/sign_up"} Register new user
    %li
      %a{:href => "/cities"} City
    %li
      %a{:href => "/offices"} Office
    %li
      %a{:href => "/stores"} Store
    %li
      %a{:href => "/storages"} Storage
    %li
      %a{:href => "/suppliers"} Supplier
    %li
      %a{:href => "/categories"} Category
    %li
      %a{:href => "/incidents"} Incident
