.block
  .content
    %h2.title
      Critical incident resolution
    .inner
      Page for Critical incident resolution, accessible by Board of Directors.
- content_for :sidebar, render(:partial => 'sidebar')
