.block
  .content
    %h2.title
      Product incident resolution
    .inner
      Page for Product incident resolution, accessible by Infrastructure Responsible.
- content_for :sidebar, render(:partial => 'sidebar')
