.block
	.content
		%h2.title
			Logging and classification
		.inner
			- if session[:current_incident]
				session[:current_incident].description
			- else
				= form_for :incident, :url => incidents_path, :html => { :class => :form } do |f|
					= render :partial => "lac_form", :locals => {:f => f}
- content_for :sidebar, render(:partial => 'sidebar')