.block
  .content
    %h2.title
      Logging and classification
    .inner
      Page for Logging and classification, accessible by Service Desk.
- content_for :sidebar, render(:partial => 'sidebar')
