.block
  .content
    %h2.title
      Knowledge database query
    .inner
      Page for Knowledge database query, accessible by Service Desk.
      = session[:current_incident].description if session[:current_incident]
- content_for :sidebar, render(:partial => 'sidebar')
