.block
  .content
    %h2.title
      Logistics incident resolution
    .inner
      Page for Logistics incident resolution, accessible by Suppliers Manager.
- content_for :sidebar, render(:partial => 'sidebar')
