.block
  .content
    %h2.title
      Technical incident resolution
    .inner
      Page for Technical incident resolution, accessible by Technical Staff.
- content_for :sidebar, render(:partial => 'sidebar')
